%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;

}


:root {
  --primary-color: #C21010;
  --light-color: #ffffff;

}


.templete_heading_img {
  box-shadow: 0px 5px 31px 0px rgba(0, 0, 0, 0.55);
  width: 100%;
  height: 45vh;
  background-image: url(../image/back.jpg);

  & .heading {
    padding: 0 1rem 0 1rem;

    @extend %flex-center;
    flex-direction: column;
    height: 100%;
    width: 100%;

    & h1 {

      font-weight: 600;

    }

    & h5 {
      text-align: center;
      font-size: 700;
      line-height: 28px;
    }
  }

}

.templete-tap-panel {

  & .nav-tabs {
    margin-top: 2rem;
    padding: 0 50px 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: none;

    & .active {
      background-color: var(--primary-color);
      color: var(--light-color);
      border-color: black;
      box-shadow: 0px 0px 45px 15px rgba(0, 0, 0, 0.25);
    }

    & h2 {
      margin: 0 10px 0 10px;
      border: 5px solid var(--primary-color);
      border-radius: 40px;
      width: 100%;
      text-align: center;
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      padding: 8px 20px 8px 20px;
      font-weight: 600;


    }


  }

}

// ==================cv-templete-start=======================
.cv_templete_img {
  @extend %flex-center;
  position: relative;
  height: 100%;
  width: 100%;

  & .temp_img {
    margin-top: 1.5rem;
    @extend %flex-center;
    position: relative;

    & img {
      width: 100%;
    }

    & .tem_sel_btn {
      position: absolute;
      height: 100%;
      width: 100%;

      & a {

        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;


        &:hover {
          opacity: 100;
        }

        & h5 {
          font-weight: 600;
          border: 2px solid black;
          background-color: var(--primary-color);
          color: white;
          padding: 6px 12px 6px 12px;
          opacity: 100;
          border-radius: 2px;
        }

      }
    }

  }
}

// ==================cv-templete-End=========================